:root {
    --text: #e7eff1; 
    --secondarycolor: #4f5255; 
    --maincolor: #232528; 
    --backgroundgradient: linear-gradient(33deg, #4f5255 0%, #6f7275 49.25%, #d7dade 100%); 
    --firststyle: 400 31.25px/normal Roboto; 
    --secondstyle: 400 39.06px/normal Roboto; 
   }
   

   
   body,
   .button-container,
   .calculator-screen {
       display: flex;
       
   }
   
   body {
       padding: 0;
       margin: 0;
       background-image: linear-gradient(to right, #4f5255, #55585b, #5b5e61, #616467, #676a6d, #727578, #7d8083, #888b8e, #9b9ea1, #afb2b5, #c3c6c9, #d7dade);
       align-items: center;
   }
   
   
   .calculator {
       background-color: var(--maincolor);
       margin-left: auto;
       margin-right: auto;
       margin-top: 1.25rem;
       overflow: hidden;
       border-radius: 0.5rem;
   }
   
   .button-container {
       width: 15.875rem;
       height: 20rem;
       flex-direction: row;
       gap: 0.625rem;
       margin: 1.375rem 2.25rem 2.5625rem 2.25rem;
       flex-wrap: wrap;
   
   }
   
   button {
       width: 3.5rem;
       height: 3.5rem;
       background-color: var(--secondarycolor);
       color: var(--text);
       font-family: Roboto sans-serif;
       font: var(--secondstyle);
       box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
       border: none;
       border-radius: 0.5rem;
   }
   
   button:hover {
       opacity: calc(85%);
   }
   
   button:active {
       opacity: calc(20%);
   }
   
   .big {
       width: 7.625rem;
       height: 3.5rem;
   }
   
   .calculator-screen {
       background-color: var(--secondarycolor);
       margin: 1.5625rem 2.25rem auto 2.25rem;
       height: 5.0625rem;
       max-width: 15.875rem;
       border-radius: 0.25rem;
       color: var(--text);
       font-family: Roboto sans-serif;
       font: var(--secondstyle);
       text-align: end;
   }
   
   .orange {
       background-color: #E79C25;
       color: var(--maincolor);
   }